
.section-header {
  padding: 12em 10em 17em 7em;
}

.fixed {
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.not-fixed {
  background-repeat: none;
  background-size: cover;
  background-position: center center;
}

.main-section-heading {
  font-family: oswald;
  font-size: 65px;
  color: white;
  background-color: #232323;
  padding: .7em;
}
