
/* Header Styling */

.home {
  background-image: url('http://i694.photobucket.com/albums/vv309/pacalabre/photo-1427501482951-3da9b725be23.jpg');
}

.headshot {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  display: block;
  margin-left: 35em;
  margin-top: -15em;
}

.section-header-h1 {
  font-family: oswald;
  font-size: 65px;
  color: white;
  margin-bottom: -10px;
}

.section-header-h2 {
  font-family: oswald;
  color: white;
}


/* Nav Styling */

.nav-ul-li {
  font-family: fjalla one;
  font-size: 20px;
}

.nav-ul-social {
  margin-top: 1px;
  float: right;
  padding: 8.5px 10px 5px;
}

.nav-ul-social-img {
  height: 30px;
  width: 30px;
}


/* Projects Page */

.projects {
  background-image: url('http://i694.photobucket.com/albums/vv309/pacalabre/photo-1432847712612-926caafaa802.jpg');
}

.main-section-projects {
  padding-left: 1.5em;
}

.main-projects-links {
  padding: 10px 10px 20px 40px;
  margin: 5px 5px 10px 55px;
}


/* Skills Page */

.skills {
  background-image: url('http://i694.photobucket.com/albums/vv309/pacalabre/photo-1431209402980-30a1ab82b4da.jpg');
  overflow: auto;
}

.main-section-skills {
  padding-left: 1.5em;
}

.skills-ul {
  font-family: oswald;
  font-size: 40px;
  margin:-3em auto auto auto;
  padding: 6em;
  list-style-type: none;
}

.skills-ul-li {
  font-size: 160px;
  margin-top: -.25em;
  margin-left: -.5em;
}


/* Resume Page */

.resume {
  background-image: url('http://i694.photobucket.com/albums/vv309/pacalabre/6e609595.jpg');
  height: 500px;
}

.main-section-resume {
  padding-left: 1.5em;
}


/* Contact Me Page */

.main-section-contact {
  padding-left: 1.5em;
}

.contact {
  background-color: #232323;
  height: 600px;
}
