.home, .skills {
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center; }

.main-section-about, .projects, .resume, .contact {
  background-repeat: none;
  background-size: cover;
  background-position: center center; }

.main-section-about, .main-section-projects, .main-section-resume, .main-section-contact {
  font-family: oswald;
  font-size: 65px;
  color: white;
  background-color: #232323;
  padding: .7em .7em .7em 1.5em; }

/* Header Styling */
.home {
  background-image: url("http://i694.photobucket.com/albums/vv309/pacalabre/photo-1427501482951-3da9b725be23.jpg"); }

.headshot {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  display: block;
  margin-left: 35em;
  margin-top: -15em; }

.section-header {
  margin: 15em 10em 17em 20%; }

.section-header-h1 {
  font-family: oswald;
  font-size: 65px;
  color: white;
  margin-bottom: -10px; }

.section-header-h2 {
  font-family: oswald;
  color: white; }

/* Nav Styling */
.nav-ul-li {
  font-family: fjalla one;
  font-size: 20px; }

.nav-ul-social {
  margin-top: 1px;
  float: right;
  padding: 8.5px 10px 5px; }

.nav-ul-social-img {
  height: 30px;
  width: 30px; }

/* About Me */
.about {
  background-color: #2f3f51; }

.about-text {
  font-family: oswald;
  font-size: 35px;
  margin: 5% 7%;
  color: white; }

/* Projects Page */
.projects {
  background-image: url("http://i694.photobucket.com/albums/vv309/pacalabre/photo-1432847712612-926caafaa802.jpg"); }

.main-projects-links {
  padding: 0px 0px 40px 0px;
  margin: 20px 5px 10px 6.25%; }

/* Skills Page */
.skills {
  background-image: url("http://i694.photobucket.com/albums/vv309/pacalabre/photo-1431209402980-30a1ab82b4da.jpg"); }

.skills-ul {
  font-family: oswald;
  font-size: 40px;
  margin: -3em auto auto auto;
  padding: 6em;
  list-style-type: none; }

.skills-ul-li {
  font-size: 160px;
  margin-top: -.25em;
  margin-left: -.5em; }

/* Resume Page */
.resume {
  background-image: url("http://i694.photobucket.com/albums/vv309/pacalabre/6e609595.jpg"); }

.main-section-resume {
  margin-top: 0px;
  padding-left: 1.275em; }

.resume-body {
  color: white;
  background-color: black;
  opacity: .9;
  margin: 7%; }

.resume-text {
  margin: 7%; }

/* Contact Me Page */
.contact {
  background-color: #232323; }

.contact-form {
  margin: 5% 15%; }

/* Footer */
.footer {
  color: white;
  background-color: #232323;
  height: 100px;
  text-align: center;
  padding-top: 2em;
  margin-top: 0em; }

/* Media Queries */
@media only screen and (max-width: 950px) {
  .section-header {
    margin-top: 12em;
    margin-left: 30%; }

  .headshot {
    margin-left: 4em;
    margin-top: 5em; } }
@media only screen and (max-width: 805px) {
  .headshot {
    margin-left: 0em; }

  .skills-ul {
    padding: 4em; }

  .skills-ul-li {
    font-size: 100px; } }
@media only screen and (max-width: 767px) {
  .main-projects-links {
    margin-left: 15%; } }
@media only screen and (max-width: 578px) {
  .section-header {
    margin-left: 20%; }

  .headshot {
    margin-left: -1em; }

  .skills-ul {
    padding: 4em 3em 3em 2em; }

  .skills-ul-li {
    font-size: 60px; } }

/*# sourceMappingURL=module-b.css.map */
