
.home, .skills {
  background-repeat: none;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center; }

.main-section-about, .projects, .resume, .contact, .form-submit-section {
  background-repeat: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }

.main-section-about, .main-section-projects, .main-section-resume, .main-section-contact{
  font-family: oswald;
  font-size: 65px;
  color: white;
  background-color: #232323;
  padding: .7em .7em .7em 1.5em;
  font-weight: 700;
  margin-top: -13.5px;
  margin-bottom: 0; }

.main-section-projects, .main-section-resume {
  text-align: left;
}

.buttons-section {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.modal-content {
  background-color: #ecf0f1;
  border-radius: 0px;
  text-align: center;
}

/* Header Styling */
.home {
  background-size: 800px;
  background-image: url("../Portfolio Photos/headshotwide.png");
  background-size: cover;
  background-color: #A8A8A8;}

.headshot {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  display: none;
  margin-left: 35em;
  margin-top: -15em; }

.section-header {
  margin: 15em 7em 21em auto;
  float: right;}

.section-header-h1 {
  font-family: oswald;
  font-size: 80px;
  color: #2f3f51;
  margin-bottom: -10px;
  font-weight: 700; }

.section-header-h2 {
  font-family: oswald;
  color: white;
  font-size: 40px;}

/* Nav Styling */

.navbar-collapse, .navbar-header {
  background-color: #2f3f51;
}

.navbar-toggle {
  border: none;
}

.nav-ul-li {
  font-family: oswald;
  font-size: 25px; }

.navbar-nav {
  text-align: center;
}

.nav-ul-social {
  color: grey;
  font-size: 30px;
  list-style: none;
  margin-top: 1px;
  margin-right: 10px;
  float: right;
  padding: 3.5px 0px 0px 5px; }

.nav-ul-social:hover {
  color:white;
}

.nav-ul-social-img {
  height: 30px;
  width: 30px; }

/* About Me */
.about {
  background-color: #2f3f51; }

.about-text {
  font-family: oswald;
  font-size: 30px;
  padding: 5% 7% 0% 7%;
  color: white;
  font-weight: 400;
  text-align: center;}

.about-section > .about-text {
  padding-bottom: 7%;
}

/* Projects Page */
.projects {
  background-attachment: fixed; }

.project-beatrepeat, .project-powstash, .project-calc, .project-caladine, .project-email, .project-brooks, .resume {
  background-image: url("../Portfolio Photos/citylights1.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;}

.main-projects-links {
  margin-top: 10%;
  margin-bottom: 11.5%;
  }

.project-text {
  float: left;
  font-family: Questrial;
  font-size: 20px;
  background-color: grey;
  opacity: .8;
  color: grey;
  margin: -20px 100px 10% 100px;
  padding: 20px;
}

.btn-row {
  text-align: center;
}

.button {
  width: 21rem;
  border: none;
  background-color: #e74c3c;
  color: white;
  text-align: center;
  margin:10px auto;
  display: block;
  padding: 10px 0;
  border-radius: 0px;
  font-size: 19px;
  text-transform: uppercase;
}

.button:hover, resume-buttons:hover {
  text-decoration: none;
  background-color: #7F2A21;
  color: #E5E5E5;
}

.btn-clear {
  clear: both;
}

.float-fix {
  float: left;
}

/* Emails */

.project-email, .project-brooks, .resume {
  text-align: center;
}

.email-img-lg, .brooks-img-lg {
  padding: 5% 10%;
  background-color: #ecf0f1;
  margin: auto;
  width: 100%;
}

/* Skills Page */
.skills {
  background-color: #e74c3c; }

.skill-row {
  margin-top: 100px; }

.node-sass-jquery-margin-top {
  margin-top: 50px;  }

.mongo-margin-top {
  margin-top: 80px;  }

.express-margin-top {
  margin-top: 100px; }

.skills-ul {
  font-family: oswald;
  margin: -5em auto auto auto;
  padding: 6em;
  list-style-type: none; }

.skills-ul-li {
  font-size: 105px;
  margin-top: -.25em; }

.skills-learning-h2 {
  margin-top: 6em; }

/* Resume Page */

.main-section-resume {
  padding-left: 1.275em; }

.resume-body {
  color: white;
  background-color: black;
  opacity: .9;
  margin: 7%; }

.resume-img-lg {
  width: 100%;
}

.resume-email-img-sm {
  width: 40%;
  height: 40%;
  margin: 3% auto;
  border-color: none;
  background-image: none;
  padding: 0px;
  border: none;
}

.resume-text {
  margin: 7%; }

.resume-buttons-section {
margin-bottom: 10%;
}

.resume-buttons {
  background-color: #e74c3c;
  background-image: none;
  font-family: oswald;
  font-size: 18px;
  padding: 5px 0px; }

.resume-button-h2 {
opacity: 1;
font-size: 20px;
margin: 3px; }

.modal-footer .btn+.btn {
  margin-left: auto;
}

/* Contact Me Page */
.main-section-contact {
  padding-left: 0;
  padding-right: 0;
}

.contact {
  background-color: #232323;
  text-align: center; }

.contact-form {
  margin: 5% 15%; }

.contact-me-social {
  float: right;
  margin: -32px 30%; }

.contact-me-email {
  font-family: Questrial;
  color: white;
  margin: 0px 0px 0px 8%;
  float: right;
  margin-top: 0px;
  font-size: 40px; }

.form-input, .form-textarea  {
  font-size: 18px;
}

.form-input {
  margin-bottom: 10px;
}

.form-textarea {
  height: 120px;
  margin-bottom: 20px;
}

.form-btn {
  margin-top: 5px;
}

/* Form Submit */

.form-submit-html {
  height: 100%;
}

.form-submit-body {
  background-image: url("../Portfolio Photos/citylights1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.form-submit-section {
  margin-top: 25%;
  text-align: center;
  font-family: oswald;
  color: white;
}

.form-submit-h1 {
  font-size: 50px;
}

/* Footer */
.footer {
  color: white;
  background-color: #232323;
  height: 100px;
  text-align: center;
  padding-top: 2em;
  margin-top: 0em; }

.footer-text {
  font-family: Questrial;
  font-size: 15px;
  margin-top: 40px; }

/* Media Queries */
@media only screen and (min-width: 950px) {
   .about-text {
      font-size: 35px;
   }
}

@media only screen and (max-width: 950px) {
  .home {
  background-image: url("../Portfolio Photos/sky.jpg");
  background-position: center;
  }
  .headshot {
    display: block;
    margin-left: 4em;
    margin-top: 5em;
  }
  .section-header {
    margin-top: 12em;
    float: none;
    text-align: center;
    margin-right: auto;
  }
  .section-header-h1 {
    padding-top: 90px;
    color: white;
    font-size: 65px;
  }
  .section-header-h2 {
    font-size: 30px;
  }

  .download-button {
  padding-right: 27%;
}

  }
@media only screen and (max-width: 805px) {

  .project-beatrepeat, .project-powstash, .project-calc, .project-caladine, .project-email, .project-brooks {
    background-size: contain;
    background-attachment: initial;
  }

  .section-header-h1 {
    font-size: 60px;
  }

  .skills-ul {
    padding: 4em; }

  .section-header-h2 {
    font-size: 25px;
  }

  .contact-me-email {
    font-size: 30px;
  }
}

@media only screen and (max-width: 767px) {

  .home {
    background-size: 220%;
  }

  .resume, .home {
    background-attachment: inherit;
  }

  .main-section-projects, .main-section-resume, .main-section-contact {
    font-size: 50px;
  }

  .download-button {
    padding-right: 0%; }

  .skill-icon {
    font-size: 270px;
    margin-top: 25%;
    text-align: center;
  }

  .skill-row {
    margin-top: 10%;}

  .skill-icon-last {
    margin-bottom: 25%; }

}
@media only screen and (max-width: 500px) {
  .home {
    background-size: 265%;
  }

  .about-text {
    font-size: 20px;
  }

  .section-header {
    /*float: right;*/
    text-align: center;}

  .section-header-h1 {
    font-size: 60px;
  }

  .skill-icon {
    font-size: 200px; }


  .main-section-projects, .main-section-resume {
    padding-left: .5em; }

  .resume {
  background-attachment: inherit;

  }
}

@media only screen and (max-width: 410px) {
    .home {
      background-size: 330%;
    }

    .button {
      font-size: 16px;
    }
  }

@media only screen and (max-width: 360px) {
    .home {
      background-size: 430%;
    }
  }


/*# sourceMappingURL=module-b.css.map */
